services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports: ["27017:27017"]
    volumes:
      - mongo_registro_torneos:/data/db

  registro-torneos:
    build:
      context: ./src
      dockerfile: RegistroTorneos.Api/Dockerfile
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      MONGO_CONN: "mongodb://mongo:27017"
      MONGO_DB: "registro_torneos"
      JWT_KEY: "p2F^4QkB!wN0r89@Gz7mLk#uS1eY8xD3fV6hJ9qT2zC4mR7sP0tB5nU1wX2yZ3a"
      JWT_ISSUER: "MarcadorApi"
      JWT_AUDIENCE: "MarcadorApiUsers"
      ALLOWED_ORIGINS: "http://localhost:4200,http://localhost:4201"
      ASPNETCORE_ENVIRONMENT: "Development"
    ports: ["5057:5057"]

volumes:
  mongo_registro_torneos:
